
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bid to Loan Auction (Lender)</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="./../static/css/custom-validate.css" rel="stylesheet"/>
        <script src="./node_modules/web3/dist/web3.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Bid to Loan Auction (Lender)</h1>
            </div>
            <form class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="bid">ROI Bid (in %)</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" min="5" max="25" placeholder="5% - 25%" id="bid" name="bid"/>
                        <span class="message"></span>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input class="btn btn-primary" type="submit" id="submitx" name="submitx" value="Submit Bid"/>
                    </div>
                </div>
            </form>
        </div>

        <div id="bButton"></div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script>
           if(typeof web3 !== 'undefined')
           {
             web3 = new Web3(web3.currentProvider);
           }
           else
           {
             web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:3000"));
           }
           web3.version.getNetwork((err, netId) => {
      switch (netId) {
        case "1":
          console.log('This is mainnet')
          break
        case "2":
          console.log('This is the deprecated Morden test network.')
          break
        case "3":
          console.log('This is the ropsten test network.')
          break
        case "4":
          console.log('This is the Rinkeby test network.')
          break
        case "42":
          console.log('This is the Kovan test network.')
          break
        default:
          console.log('This is an unknown network.')
      }
      })

           web3.eth.defaultAccount=web3.eth.accounts[0];
           var testContract = web3.eth.contract([
    {
        "constant": true,
        "inputs": [],
        "name": "getBorrower",
        "outputs": [
            {
                "name": "",
                "type": "address"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [
            {
                "name": "index",
                "type": "uint256"
            }
        ],
        "name": "selectwinner",
        "outputs": [
            {
                "name": "",
                "type": "address"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": false,
        "inputs": [
            {
                "name": "index",
                "type": "uint256"
            }
        ],
        "name": "payfromwinner",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "loanFill",
        "outputs": [
            {
                "name": "",
                "type": "uint256"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "showlendinghistory",
        "outputs": [
            {
                "name": "",
                "type": "uint256[]"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": false,
        "inputs": [
            {
                "name": "repayAmount",
                "type": "uint256"
            }
        ],
        "name": "payBackLoan",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": false,
        "inputs": [
            {
                "name": "value",
                "type": "uint256"
            }
        ],
        "name": "submitBid",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "constant": true,
        "inputs": [],
        "name": "displayInfo",
        "outputs": [
            {
                "name": "",
                "type": "address"
            },
            {
                "name": "",
                "type": "uint256"
            },
            {
                "name": "",
                "type": "uint256"
            },
            {
                "name": "",
                "type": "uint256"
            },
            {
                "name": "",
                "type": "uint256"
            },
            {
                "name": "",
                "type": "uint256"
            },
            {
                "name": "",
                "type": "uint256"
            }
        ],
        "payable": false,
        "stateMutability": "view",
        "type": "function"
    },
    {
        "constant": false,
        "inputs": [
            {
                "name": "payAmount",
                "type": "uint256"
            }
        ],
        "name": "payToLoan",
        "outputs": [],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "function"
    },
    {
        "inputs": [
            {
                "name": "_principal",
                "type": "uint256"
            },
            {
                "name": "_collAmount",
                "type": "uint256"
            },
            {
                "name": "_duration",
                "type": "uint256"
            },
            {
                "name": "_loanExpWeeks",
                "type": "uint256"
            }
        ],
        "payable": false,
        "stateMutability": "nonpayable",
        "type": "constructor"
    }
]);

           var thisContract = '{{loan}}';

      var test = testContract.at(thisContract);

      $("#submitx").click(function() {
        test.submitBid($("#bid").val(),(error,result) => (console.log(result)));
      });

      test.getBorrower(function(error, results) {
        console.log(web3.eth.defaultAccount);
        if('0xf97813d9788f742ccea5c113259f81e70c09d7b8' == web3.eth.defaultAccount) {
            console.log('This is borrower');
            var codex = "<center><div id=\"bButton\"><a href=\"/payToLoan/" + thisContract + "\"><button id=\"finishButton\" name=\"finishButton\">Finish Bid (Borrower)</button></a></div></center>";
            document.getElementById('bButton').innerHTML = codex;
        }
      });

    $("#finishButton").click(function() {
        test.selectwinner(3, (error, resultx) =>
            console.log(resultx));
            // this is the winning address (resultx)
      });


      </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="./../static/js/custom-validate.js"></script>
        <script src="./node_modules/web3/dist/web3.min.js"></script>
    </body>
</html>